<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2><a href="https://suryatejachalapati.com/">Suryateja Chalapati</a></h2>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>Data Scientist | NLP | ML </p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <table width="80" align="center" border="0" cellpadding="0" cellspacing="5">
          <tr style="height: 30px;">
            <td>
              <a href="https://twitter.com/suryateja0153" style="display: inline-block; width: 50px;" title="Link to Twitter Profile">
                <img src="/images/twitter.svg" alt="Twitter">
              </a>
            </td>
            <td>
              <a href="https://github.com/suryateja0153" style="display: inline-block; width: 50px;" title="Link to Github Profile">
                <img src="/images/github.svg" alt="Github">
              </a>
            </td>
            <td>
              <a href="https://www.linkedin.com/in/suryateja-chalapati" style="display: inline-block; width: 50px;" title="Link to Linkedin Profile">
                <img src="/images/linkedin.svg" alt="Linkedin">
              </a>
            </td>
          </tr>
        </table>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
